.thumbnail{
    width: 100%;

}
body{
    font-family: Roboto,Arial;
    margin: 0;
    padding: 80px 24px 50px 96px;
    background-color: rgb(248,248,248);
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.profile-pic{
    width: 36px;
    border-radius: 50px; 
}
.video-title{
    margin-top:0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;

}
.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media(max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 751px) and (max-width: 999px){
     .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(228,228,228);
    z-index: 1;
    
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    flex-direction: row;
    align-items: center;
    
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}
.search-button .tool-tip,
.voice-search-button .tool-tip,
.upload-icon-div .tool-tip,
.youtube-apps-icon-div .tool-tip,
.notification-icon-div .tool-tip,
.profile-div .tool-tip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-icon-div:hover .tool-tip,
.youtube-apps-icon-div:hover .tool-tip,
.notification-icon-div:hover .tool-tip,
.profile-div:hover .tool-tip{
    opacity: 1;
}

.search-button,.voice-search-button,.upload-icon-div,
.youtube-apps-icon-div,.notification-icon-div,.profile-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245,245,245);
    cursor: pointer;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder{

    font-size: 16px;
}
.search-icon{
    height: 25px;
}
.voice-search-icon{
    height: 24px;
}
.upload-icon{
    height: 24px;
    cursor: pointer;
}
.youtube-apps-icon{
    height: 24px;
    cursor: pointer;
}
.notification-icon{
    height: 24px;
    cursor: pointer;
}
.current-user-pic{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left:0;
    background-color: white;
    width: 72px;
    z-index: 2;
    padding-top: 5px;
}
.thumbnail-row{
    position: relative;
    z-index: 0;
    margin-bottom: 8px;

}
.time{
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}
.notification-icon-div{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200,0,0);
    color: white;
    font-size: 11px;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;

}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235,235,235);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-size: 10px;
}
